<p>login works!</p>
<div class="col-sm-6">
    <form  #userForm="ngForm" (ngSubmit)="onsubmit(userForm.value)" >
    <div class="form-group">
        <label>Name</label>
        <input type="text" name="Name" ngModel class="form-control" required minlength="2" #name="ngModel" pattern="[a-zA-Z ]*">
        <span class="error" *ngIf="name.invalid && name.touched">Name not valid</span><br>
        <label>Email</label>
        <input type="email" name="Email" ngModel class="form-control" #email="ngModel" required email>
    <span class="error" *ngIf="email.invalid && email.touched">email not valid</span><br>
    <label>Password</label>
    <input type="password" name="Password" ngModel class="form-control" #password="ngModel" required minlength="5">
    <span class="error" *ngIf="password.invalid && password.touched">password not valid</span><br>
    <button type="submit" class="btn btn-success" [disabled]="userForm.invalid">Login</button>
    </div>
    </form>
    </div>