

<nav class="navbar navbar-expand-md bg-dark  navbar-dark " style="font-size: 20px">
	<ul class="navbar-nav ">
		
		
		<li class="nav-item active"><a routerLink="user" class="nav-link">User</a></li>&nbsp;&nbsp;
		<li class="nav-item "><a routerLink="admin" class="nav-link">Admin</a></li>&nbsp;&nbsp;
        <li class="nav-item dropdown"><a routerLink="about" class="nav-link">About</a></li>&nbsp;&nbsp;
        <li class="nav-item dropdown"><a routerLink="login" class="nav-link">Login</a></li>&nbsp;&nbsp;
		<li class="nav-item"><a routerLink="register" class="nav-link">Register</a></li>
	</ul>
</nav>

{{ Name }}
{{age}}
{{contact}}

<a routerLink="reactive">reactive</a>








<router-outlet></router-outlet>